[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=deploy
Group=deploy
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/srv/deploy-prj
#ExecStart=/home/ubuntu/.pyenv/versions/gunicorn/bin/gunicorn --bind 0:8080 config.wsgi:application
#ExecStart=/home/ubuntu/.pyenv/versions/gunicorn/bin/gunicorn --bind unix:/tmp/gunicorn.sock config.wsgi:application --access-logfile /var/log/gunicorn/access.log --log-level info
ExecStart=/home/ubuntu/.pyenv/versions/gunicorn/bin/gunicorn --bind unix:/tmp/gunicorn.sock /srv/deploy-prj/.config/gunicorn/gunicorn.ini
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target