[Unit]
Description=uvicorn service
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/srv/deploy-prj
ExecStart=/home/ubuntu/.pyenv/versions/gunicorn/bin/gunicorn config.asgi:application -w 4 -k uvicorn.workers.UvicornWorker --access-logfile /var/log/uvicorn/access.log --error-logfile /var/log/uvicorn/error.log --bind unix:/tmp/uvicorn.sock
#ExecStart=/home/ubuntu/.pyenv/versions/gunicorn/bin/gunicorn config.asgi:application --bind unix:///tmp/uvicorn.sock -w 4 -k uvicorn.workers.UvicornWorker --access-logfile /var/log/uvicorn/access.log --error-logfile /var/log/uvicorn/error.log
#ExecStart=/home/ubuntu/.pyenv/versions/uvicorn/bin/uvicorn config.asgi:application --workers 3 --reload --uds unix:///tmp/uvicorn.sock --access-log --use-colors --lifespan off
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
[Install]
WantedBy=multi-user.target