[Unit]
Description=uvicorn service
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/srv/deploy-prj
#ExecStart=/home/ubuntu/.pyenv/versions/gunicorn/bin/gunicorn config.asgi:application -w 3 -k uvicorn.workers.UvicornWorker --access-logfile /var/log/uvicorn/access.log --error-logfile /var/log/uvicorn/error.log --host 0.0.0.0 --port 8888
ExecStart=/home/ubuntu/.pyenv/versions/uvicorn/bin/uvicorn config.asgi:application --host 0.0.0.0 --port 8888 --workers 3 --reload --uds unix:///tmp/uvicorn.sock --access-log /var/log/uvicorn/access.log --use-colors --lifespan off
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
[Install]
WantedBy=multi-user.target